@page "/babyGiftListView"

@using Microsoft.AspNetCore.Http.Extensions
@using asagiv.dbmanager.babythankyounotes
@using asagiv.dbmanager.webinterface.Data
@inject MainDbContextService dbContextService
@inject NavigationManager navManager

<h1>Robert Baby Gifts</h1>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" style="margin:5px" @onclick="onAddBabyGiftClick">Add Baby Gift</button>
</div>

@if (babyGiftList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Gift</th>
                <th>TY Note Written</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var babyGift in babyGiftList)
            {
                <tr>
                    <td>@babyGift.Name</td>
                    <td>@babyGift.Gift</td>
                    <td>@isTyNoteWritten(babyGift)</td>
                    <td>
                        <button class="btn btn-link" @onclick="@(async () => await onEditGiftClickAsync(babyGift))" data-toggle="tooltip"
                                data-placement="top" title="Edit">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private IList<BabyGiftList> babyGiftList;

    protected override async Task OnInitializedAsync()
    {
        babyGiftList = await dbContextService.getBabyGiftListAsync();
    }

    public string isTyNoteWritten(BabyGiftList babyGift)
    {
        return babyGift.TyNoteWritten.Value ? "\u2713" : string.Empty;
    }

    public void onAddBabyGiftClick(MouseEventArgs e)
    {
        navManager.NavigateTo("/addBabyGiftView");
    }

    public async Task onEditGiftClickAsync(BabyGiftList e)
    {
        var giftId = await dbContextService.getGift(e.Gift, e.Name);
        navManager.NavigateTo($"/addBabyGiftView/{giftId.ToString()}");
    }
}
