@page "/babyGiftListView"

@using Microsoft.AspNetCore.Http.Extensions
@using asagiv.dbmanager.addresses
@using asagiv.dbmanager.webinterface.Data
@using BlazorFileSaver
@inject MainDbContextService dbContextService
@inject IBlazorFileSaver blazorFileSaver
@inject NavigationManager navManager

<h1>Robert Baby Gifts</h1>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" style="margin:5px" @onclick="onAddBabyGiftClick">Add Baby Gift</button>
    <button type="button" class="btn btn-secondary" style="margin:5px" @onclick="downloadGiftListAsync">Download Text</button>
</div>

@if (babyGiftList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Gift</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var babyGift in babyGiftList)
            {
                <tr>
                    <td>@babyGift.giftDescription</td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private IList<BabyGift> babyGiftList;

    protected override async Task OnInitializedAsync()
    {
        babyGiftList = await dbContextService.getBabyGiftListAsync();
    }

    public string isTyNoteWritten(BabyGift babyGift)
    {
        // return babyGift.Value ? "\u2713" : string.Empty;
        return "\u2713";
    }

    public void onAddBabyGiftClick(MouseEventArgs e)
    {
        navManager.NavigateTo("/addBabyGiftView");
    }

    public async Task downloadGiftListAsync()
    {
        /*
        var payload = await DbContextFunctions.createBabyGiftList(dbContextService.dbContext);
        var fileName = "Baby_Gift_List.txt";
        await blazorFileSaver.SaveAs(fileName, payload);
        */

        await Task.CompletedTask;
    }

    public async Task onEditGiftClickAsync(BabyGift e)
    {
        await Task.CompletedTask;
    }
}
