@page "/events"

@using asagiv.dbmanager.common.Models
@using asagiv.dbmanager.webportal.Data
@inject NavigationManager NavManager
@inject AddressBookDbService AddressBookService

<PageTitle>Events</PageTitle>

<h1 class="text-center">Events</h1>

@if (_events == null)
{
    <Text>Loading...</Text>
}
else
{
    <Select TValue="EventInfo" SelectedValue="@_selectedEvent" SelectedValueChanged="OnSelectedEventChangedAsync">

        @foreach (var eventInfo in _events)
        {
            <SelectItem Value="eventInfo">@eventInfo.EventName</SelectItem>
        }

    </Select>

    <h2 class="text-center">Gifts</h2>

    if (_selectedEvent != null && _familyEventGifts != null)
    {
        <div>
            @foreach (var familyEventGift in _familyEventGifts)
            {
                <div>
                    <Text>@familyEventGift.EventGift.GiftDescription</Text>
                </div>
            }
        </div>
    }
}

@code {
    IList<EventInfo>? _events;
    private EventInfo? _selectedEvent;
    private IList<FamilyEventGift>? _familyEventGifts;

    protected override async Task OnInitializedAsync()
    {
        _events = await AddressBookService.GetAllEventsAsync();

        await OnSelectedEventChangedAsync(_events.FirstOrDefault());
    }

    private async Task OnSelectedEventChangedAsync(EventInfo? selectedEvent)
    {
        _selectedEvent = selectedEvent;

        if (_selectedEvent == null)
        {
            _familyEventGifts = null;

            return;
        }

        _familyEventGifts = await AddressBookService.GetFamilyEventGiftsAsync(_selectedEvent);
    }
}
